<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>
<br>
<br>
  <%= button_to "Destroy this team", @team, method: :delete, class: "btn btn-danger" %>
</div>
