<br>
<br>


<h1>Upcoming Games</h1>
<table class="table table-striped table-bordered">

<thead>
<tr>

<th>Opponent</th>
<th>location</th>
<th>Date</th>


</tr>
</thead>
<tbody>


<tr>

<% @schedule.each do |schedule| %>

  <% if schedule.game_day_and_start_time > Date.today %>
  <td><%= schedule.opponent%></td>
   <td><%= schedule.location%></td>
 
  <td><%= schedule.game_day_and_start_time%></td>

</tr>
<% end %>
  <% end %> 
<!-----------------------------------------------------------!>


<table class="table table-striped table-bordered">

<thead>
<tr>
<br>
<br>


<h1>Past Games</h1>
<th>Opponent</th>
<th>location</th>
<th>Date</th>
<th>Win or Loss</th>

</tr>
</thead>
<tbody>


<tr>

<% @schedule.each do |schedule| %>
  <% if schedule.game_day_and_start_time < Date.today %>
  <td><%= schedule.opponent%></td>
   <td><%= schedule.location%></td> 
  <td><%= schedule.game_day_and_start_time%></td>
    <td><%= %></td>
    </tr>
  <%end %>
  <% end %> 
</div>

