
<%= simple_form_for([@schedule, @line_up]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.association :player, collection: Player.all.map{ |p| [p.full_name, p.id] }, prompt: 'Select a player' %>
    <%= f.input :primary_position, collection: Player.primary_positions.keys.map { |key| [key.humanize, key] }, prompt: 'Select One' %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
