<p style="color: green"><%= notice %></p>

<h1>Line Up Card For Game Against - <%= @schedule.opponent %></h1>

<table class="table table-striped table-bordered">
<thead>
<tr>

<th style="width: 30px;">Order</th>
<th style="width: 20px;">NO.</th>
<th style="width: 200px;">Player</th>
<th style="width: 200px;">Position</th>

 </thead>
   <% @line_ups.sort_by(&:order).each do |line_up| %>
   <tbody>
          <tr>
     <td><%= line_up.order %></td>
     <td><%= line_up.player.number %></td>
     <td><%= link_to line_up.player.full_name, schedule_line_up_path(@schedule, line_up) %></td>
     <td><%= line_up.field_position.try(:humanize) %></td>

          </tr>
   </tbody>
   <% end %>
   </table>
<div id="line_ups">
  <% @line_ups.each do |line_up| %>
    <p>
    </p>
  <% end %>
</div>

<%= link_to "Add Players to Line Up", new_schedule_line_up_path(@schedule), class: "btn btn-primary" %>
