<p style="color: green"><%= notice %></p>

<%= render @line_up %>

<div>
  <%= link_to "Edit this line up", edit_schedule_line_up_path(@schedule, @line_up) %> |
  <%= link_to "Back to line ups", schedule_line_ups_path(@schedule) %>

  <%= button_to "Destroy this line up", schedule_line_up_path(@schedule,@line_up), method: :delete %>
</div>
