<div id="<%= dom_id schedule %>">
  <p>
    <strong>Opponent:</strong>
    <%= schedule.opponent %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= schedule.location %>
  </p>

  <p>
    <strong>Game day and start time:</strong>
    <%= schedule.game_day_and_start_time %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= schedule.notes %>
  </p>

</div>
