<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div class="d-flex flex-wrap justify-content-center" id="schedules">
  <% @schedules.each do |schedule| %>
 <div class="card">
 <p>
        <strong>Opponent:</strong>
    <%= schedule.opponent %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= schedule.location %>
  </p>

  <p>
    <strong>Game day and start time:</strong>
    <%= schedule.game_day_and_start_time %>
  </p>

    <p>
      <%= link_to "Show Game", schedule , class: "btn btn-primary" %>

    </p>
    </div>
  <% end %>
</div>

<%= link_to "New schedule", new_schedule_path,class: "btn btn-primary"%>
<br>
<br>
