<p style="color: green"><%= notice %></p>

<h1>Players</h1>

<div id="players">
  <% @players.each do |player| %>

  <div class="card">
    <%= player.full_name %>

    <%= player.primary_position.try(:humanize) %>

    <p>
      <%= link_to "Show this player and info", player %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New player", new_player_path %>
