<p style="color: green"><%= notice %></p>

<h1>Players</h1>
<div class="d-flex flex-wrap justify-content-center" id="players">
  <% @players.each do |player| %>

  
<div class="card">
    <h4><%= player.full_name %> #<%= player.number%></h4>
    <div>
    <h6> - <%= player.primary_position.try(:humanize) %></h6>
    </div>
    <div>
    <h6> - <%= player.secondary_position.try(:humanize) %></h6>
    </div>
    <p>
    <%= link_to "Player Info", player, class: "btn btn-success" %>
    </p>
    </div>
  <% end %>
  </div>

<%= link_to "New player", new_player_path, class: "btn btn-secondary" %>
<br>
<br>
