<p style="color: green"><%= notice %></p>

<h1>Players</h1>

<div id="players">
  <% @players.each do |player| %>

  <div class="card">
    <h4><%= player.full_name %></h4>

    <%= player.primary_position.try(:humanize) %>

    <p>
    <br>
    <%= link_to "Player Info", player, class: "btn btn-primary" %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New player", new_player_path, class: "btn btn-primary" %>

<br>
<br>
