
<p style="color: green"><%= notice %></p>
<div class="card">
<%= render @player %>
<div>
  <%= link_to "Edit this player", edit_player_path(@player), class: "btn btn-success" %> |
  <%= link_to "Back to players", players_path, class: "btn btn-success" %>
<br>
<br>
<%= button_to "Delete  player", @player, method: :delete, class: "btn btn-danger" %>
</div>
